.desc {
    width: 100%;
    background-color: rgb(51, 51, 51);
    position: relative;
    z-index: 10;
    overflow:hidden;
	margin:0;
    padding: 100px 0 100px 0;
    &__row {
        display: flex;
        flex-wrap: wrap;
        z-index: 11;
    }
    &__main {
        display: flex;
        flex-direction: column;
        // align-items: center;
        &-title {
            font-size: 60px;
            color: $main-color;
        }
        &-text {
            font-size: 25px;
            color: #fff;
            padding: 10px 10px 10px 0;
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 96%;
            object-fit: cover;
        }
    }
    // #bubbles {
    //     min-width: 100%;
    //     max-height: 100%;
    //     position: absolute;
    //     z-index: -9;
    // }
    
    // #lines { 
    //     background:rgb(116, 116, 116);
    //     width:100%;
    //     height: 100%;
    //     -webkit-transition: all 0.4s ease-in-out;
    //     -moz-transition: all 0.4s ease-in-out;
    //     -ms-transition: all 0.4s ease-in-out;
    //     -o-transition: all 0.4s ease-in-out;
    //     transition: all 0.4s ease-in-out;
    // }
    // #lines:hover { 
    // background:#ffd5003d;
    // }
    .bg {
        // animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgba(255, 213, 0, 0.5) 50%, #000 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:absolute;
        right:-50%;
        top:0;
        z-index:-1;
        transform:translateX(5%);
        // &::after {
        //     content: '';
        //     width: 100%;
        //     background-color: #000;
        //     height: 60px;
        //     position: absolute;
        //     bottom: 0;
        // }
      }
      
      .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
      }
      
      .bg3 {
        animation-duration:5s;
      }
      @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
      }
}